.bg-tomato {
    background-color: tomato;
}

.bg-blue {
    background-color: dodgerblue;
}

.bg-pink {
    background-color: lightcoral;
}

.bg-green {
    background-color: rgb(110, 165, 84);
}

.bg-violet {
    background-color: violet;
}

.bg-gold {
    background-color: rgb(216, 173, 65);
}

.bg-brown {
    background-color: chocolate;
}